@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.App {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

input:focus {
  outline: none;
}

select {
  appearance: none;
  background-image: url(../public/icons/down-chevron.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 0.8rem auto;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
